   .main{
        width: 100%;
        height: 70vh;
        background-color: aquamarine;
    }
    .main p{
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 400;
        font-style: italic;
        line-height: 40px;
        text-align: justify;
        text-transform: lowercase;
    }