 /* div{
        width: 500px;
        height: 500px;
        background-color: blueviolet;
    } */

.main{
    width: 100%;
    background-color: antiquewhite;
}

.main h1{
    color: blue;
    text-align: center;
    font-family: sans-serif;
}
.main p{
    font-size: 24px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    /* font-style:; */
    line-height: 30px;
}
.mainb{
    width: 100%;
    height: 100vh;
    background-image: url(../img/Yellow\ and\ Dark\ Blue\ Modern\ Sales\ Representative\ We\ Are\ Hiring\ Instagram\ Post\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    /* backdrop-filter: inherit; */
}