 *{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 div{
        /* width: 400px;
        height: 600px; */
        width: 100%;
        height: 100vh;
        background-color: aqua;
    }
    nav{
        width: 100%;
        height: 100vh;
        background-color: rgb(0, 0, 0);
    }
    h1{
        font-size: 36px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
   p{
        font-size: 18px;
        text-align: justify;
        line-height: 30px;

        
    }
    button{
        width: 20%;
        height: 8vh;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
    }