.product{
   width: 100%;
   display: flex;
   /* justify-content: space-around; */
   /* justify-content: space-between; */
   justify-content: space-evenly;
}
.main{
   width: 23%;
   height: 80vh;
   background-color: azure;
}
.main img{
width: 100%;
}
.main h1{
   font-size: 24px;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main p{
   font-size: 16px;
   text-align: justify;
   line-height: 18px;
}
.main p span{
font-size: 18px;
}
.main button{
   width: 60%;
   height: 6vh;
   font-size: 18px;
   background-color: tomato;
   color: white;
}
.bgimg{
   width: 100%;
   height: 50vh;
   background-image: url(../../../img/arrow\ icon.png);
   background-repeat: no-repeat;
   background-size: 100% 30vh;
}
.topcourse {
text-align: center;
text-transform: capitalize;
}

.flexdir{
   width: 100%;
   height: 100vh;
   background-color: aquamarine;
   display: flex;
   justify-content: space-between;
   /* flex-direction: column; */
   align-content: end;
   align-items: center;
}
.flx{
   width: 23%;
   height: 50vh;
   background-color: bisque;
}