.main{
   width: 20%;
   height: 80vh;
   background-color: azure;
}
.main img{
width: 100%;
}
.main h1{
   font-size: 24px;
   text-align: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main p{
   font-size: 16px;
   text-align: justify;
   line-height: 18px;
}
.main p span{
font-size: 18px;
}
.main button{
   width: 60%;
   height: 6vh;
   font-size: 18px;
   background-color: tomato;
   color: white;
}
.bgimg{
   width: 100%;
   height: 50vh;
   background-image: url(../../../img/arrow\ icon.png);
   background-repeat: no-repeat;
   background-size: 100% 30vh;
}